@{
    ViewBag.Title = "Contact";
}

<section id="contact-us" class="p-6">
    <div class="container p-7">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="mb-4">Contáctenos</h2>
                <p class="lead">Estamos aquí para ayudarte. Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
            </div>
            <div class="row mt-5">
                <div class="col-md-10 offset-md-1">
                    <form>
                        <div class="form-group">
                            <label for="phone"><strong>Número de Teléfono</strong></label>
                            <br />
                            <br />
                            <input type="tel" class="form-control" id="phone" placeholder="Ingresa tu número de teléfono">
                            <br />
                            <br />
                        </div>
                        <div class="form-group">
                            <label for="message"><strong>Mensaje</strong></label>
                            <br />
                            <br />
                            <textarea class="form-control" id="message" rows="5" placeholder="Escribe tu mensaje aquí"></textarea>
                            <br />
                            <b></b>
                        </div>
                        <div style="text-align: right;">
                            <button type="submit" class="btn btn-outline-dark btn-lg">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h3>Síguenos en Instagram</h3>
                <p>Puedes encontrarnos en Instagram para más actualizaciones y fotos:</p>
                <a href="https://www.instagram.com/maravillaspuravida?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" class="btn btn-secondary">Instagram</a>
            </div>
        </div>
    </div>
</section>
