@{
    ViewBag.Title = "Home Page";
}

<section id="content" class="p6">
    <div class="container_24 p7">
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Estilo</span>
                    <span class="text2">tradicional</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1"><img src="~/Styles/images/page1-img1.jpg" alt=""></figure>

                    <p>Pequeña descripcion del producto y su historia</p>
                    <a class="button1" href="#">more</a>
                </div>
                <i></i>
            </div>
        </article>
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Estilo</span>
                    <span class="text2">moderno</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1"><img src="~/Styles/images/page1-img2.jpg" alt=""></figure>

                    <p>
                        Pequeña descripción del producto y su historia
                    </p>
                    <a class="button1" href="#">more</a>
                </div>
                <i></i>
            </div>
        </article>
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Estilo</span>
                    <span class="text2">unico</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1"><img src="~/Styles/images/page1-img3.jpg" alt=""></figure>
                    <p>Pequeña descripción del producto y su historia</p>
                    <a class="button1" href="#">more</a>
                </div>
                <i></i>
            </div>
        </article>
        <div class="clear"></div>
        <div class="p8">
            <article class="grid_14 maxheight1">
                <span class="text3">Bienvenidos</span>
                <span class="text4">Seguimos manteniendo la calidad de la pasta que tu familia tanto disfruta.</span>
                <p class="p9">
                    Nos enorgullece seguir manteniendo la calidad de la pasta que tu familia tanto disfruta. Cada ingrediente que usamos y cada proceso que seguimos están pensados para ofrecerte una pasta deliciosa, tal como la que conoces y amas. Sabemos que alrededor de la mesa se crean momentos especiales, y queremos ser parte de esos instantes en los que el sabor y la compañía se unen.

                    Gracias por elegirnos y por permitirnos ser parte de tu día a día. ¡Esperamos seguir acompañándote en muchas más comidas llenas de sabor y tradición!
                </p>
                <!--Aqui inicia el carrusel de la historia
                    Inicio mitad A de parte izquierda-->

                <article class="grid_6 alpha maxheight">
                    <h2>Nuestra <br />Historia</h2>
                    <ul class="page1-box2 carousel1">
                        <li>
                            <span class="text5">2007 - 2012</span>
                            <p>
                                Nació una pasión por la cocina
                                Pronto se convertiría en el corazón de A La Pasta. Lo que comenzó como una receta familiar transmitida de generación en generación, se transformó en un sueño: llevar la mejor pasta a las mesas de muchas familias.
                            </p>
                        </li>
                        <li>
                            <span class="text5">2012 - 2018</span>
                            <p>
                                Con dedicación y amor por la tradición, la empresa fue creciendo.
                                Desde el primer día, nos propusimos mantener la autenticidad y calidad de nuestra pasta, seleccionando solo los mejores ingredientes y perfeccionando cada proceso. Lo que antes se preparaba en una pequeña cocina ahora se produce en modernas instalaciones, pero con el mismo cuidado artesanal que nos caracteriza desde nuestros inicios.
                            </p>
                        </li>
                        <li>
                            <span class="text5">2018 - 2024</span>
                            <p>
                                Hoy, A La Pasta no solo es sinónimo de calidad, sino de recuerdos compartidos alrededor de la mesa.
                                Nos enorgullece saber que nuestras pastas acompañan a tantas familias en sus momentos más especiales, siendo parte de su historia, tal como nuestra pasta lo es de la nuestra. ¡Y así seguimos, con el compromiso de llevar a tu mesa el sabor que siempre has amado!
                            </p>
                        </li>
                    </ul>
                    <!--Fin del carrusel historico-->
                    <!--Estos son los botones del carrusel-->
                    <span id="prev_slide"></span> <span id="next_slide"></span>
                    <div class="clear"></div>
                </article>
                <!--Fin mitad A de parte izquierda-->
                <!--Inicio mitad B parte izquierda-->
                <article class="grid_6 prefix_2 maxheight border1 omega">
                    <h2>Comentarios<br />clientes</h2>
                    <div class="page1-box3">
                        <a class="link1" href="#">Marco,  23 a;os, SJ</a>
                        <p class="last2">“ La pasta de A La Pasta siempre es un éxito en casa. ¡Sabor auténtico y calidad inigualable!”</p>
                        <time class="time1" datetime="2022-09-05T15:31">junio 30, 2022</time>
                    </div>
                    <div class="page1-box3 last3">
                        <a class="link1" href="#">Julia,  22 a;os, SJ</a>
                        <p class="last2">“ Nos encanta la frescura y textura. Se nota el cuidado en cada detalle. ¡No cambiamos de marca! “</p>
                        <time class="time1" datetime="2023-05-15T05:21">marzo 15, 2023</time>
                    </div>
                </article>
                <div class="clear"></div>
            </article>

            <!--Columna top productos lado derecho-->

            <article class="grid_8 prefix_2 maxheight1 border2">
                <h2 class="p10">Mejores <br />Productos</h2>
                <div class="page1-box4">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/images/page1-img4.jpg" alt=""></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 1</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$14.99</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="page1-box4">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/images/page1-img5.jpg" alt=""></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 2 </a>
                        <p class="p11">Descripcion del producto </p>
                        <span class="text5">$15.75</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="page1-box4 p12">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/images/page1-img6.jpg" alt=""></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 3</a>
                        <p class="p11">Descripcion del producto</p>
                        <span class="text5">$12.00</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <a class="button1 p28 p28" href="@Url.Action("Productos","Productos") ">Ver mas</a>
            </article>
            <div class="clear"></div>
        </div>
    </div>
</section>
    