@{
    ViewBag.Title = "Home Page";
}

<section id="content" class="p6">
    <div class="container_24 p7">
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Comodas</span>
                    <span class="text2">Habitaciones</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1">
                        <img src="~/Styles/imagenes/habitacionVilla.jpg" alt="Habitacion Villa" style="width: 100%; height: auto;">
                    </figure>
                    <p>Relájate en nuestras cómodas habitaciones, diseñadas para ofrecerte el máximo confort y tranquilidad. Cada detalle ha sido cuidadosamente pensado para que disfrutes de una estancia placentera y acogedora.</p>
                    <a class="button1" href="#">más</a>
                </div>
                <i></i>
            </div>
        </article>
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Moderno y</span>
                    <span class="text2">Elegante</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1">
                        <img src="~/Styles/imagenes/AfuerasVilla.jpg" alt="Afueras de la Villa" style="width: 100%; height: auto;">
                    </figure>
                    <p>Lujo y naturaleza en un solo lugar: "Disfruta del equilibrio perfecto entre lujo y naturaleza. Nuestras habitaciones están diseñadas para ofrecerte una experiencia de hospedaje inolvidable, con vistas espectaculares y una ubicación estratégica que te permitirá explorar los rincones más hermosos de la región. Ideal para quienes buscan desconectar y sumergirse en un entorno natural."</p>
                    <a class="button1" href="#">más</a>
                </div>
                <i></i>
            </div>
        </article>
        <article class="grid_8">
            <div class="page1-box1 maxheight2">
                <div class="inner1">
                    <strong></strong>
                    <span class="text1">Hermosos</span>
                    <span class="text2">Paisajes</span>
                </div>
                <div class="inner2">
                    <figure class="page1-img1">
                        <img src="~/Styles/imagenes/paisaje.jpg" alt="Acceso único" style="width: 100%; height: auto;">
                    </figure>
                    <p>Despierta con vistas impresionantes: "Imagina despertar cada mañana con una vista panorámica que te deja sin aliento. Nuestro Airbnb te ofrece la escapada perfecta con habitaciones acogedoras que combinan confort y estilo, todo en una ubicación inmejorable. Rodeado de naturaleza, disfruta de la tranquilidad y la belleza del paisaje desde la comodidad de tu cama."</p>
                    <a class="button1" href="#">más</a>
                </div>
                <i></i>
            </div>
        </article>
        <div class="clear"></div>
        <div class="p8">
            <article class="grid_14 maxheight1">
                <span class="text3">Bienvenidos</span>
                <span class="text4">CoromotoAccess: Innovación en cada acceso.</span>
                <p class="p9">
                    En CoromotoAccess, nos enorgullece ofrecer soluciones de acceso que combinan tradición e innovación. Cada producto está diseñado para proporcionar seguridad y comodidad, adaptándose a las necesidades de nuestros clientes. Desde accesos tradicionales hasta los más modernos, garantizamos calidad y eficiencia en cada uno de nuestros productos.

                    Gracias por confiar en nosotros para proteger y facilitar el acceso a sus espacios. ¡Esperamos seguir acompañándolos con nuestras soluciones innovadoras!
                </p>
                <!--Inicio mitad B parte izquierda-->
                <article class="grid_14 maxheight1">
                    <span class="text3">Comentarios</span>
                    <span class="text4">De nuestros Clientes</span>
                    <div class="page1-box3">
                        <a class="link1" href="#">Marco Fernández,  23 años. </a>
                        <p class="last2">“CoromotoAccess siempre es una garantía de seguridad y calidad. ¡No los cambiaría por nada!”</p>
                        <time class="time1" datetime="2022-09-05T15:31">junio 30, 2024</time>
                    </div>
                    <div class="page1-box3 last3">
                        <a class="link1" href="#">Julia Martínez,  22 años.</a>
                        <p class="last2">“Nos encanta la innovación y la eficiencia de sus productos. ¡Siempre confiamos en CoromotoAccess!”</p>
                        <time class="time1" datetime="2023-05-15T05:21">marzo 15, 2023</time>
                    </div>
                </article>
                <div class="clear"></div>
            </article>

            <!--Columna top productos lado derecho-->

            <article class="grid_8 prefix_2 maxheight1 border2">
                <h2 class="p10">Mejores <br />Productos</h2>
                <div class="page1-box4">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/imagenes/page1-img4.jpg" alt="Producto 1"></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 1</a>
                        <p class="p11">Descripción del producto 1</p>
                        <span class="text5">$14.99</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="page1-box4">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/imagenes/page1-img5.jpg" alt="Producto 2"></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 2 </a>
                        <p class="p11">Descripción del producto 2</p>
                        <span class="text5">$15.75</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="page1-box4 p12">
                    <figure class="page1-img2 img-bot"><img src="~/Styles/imagenes/page1-img6.jpg" alt="Producto 3"></figure>
                    <div class="extra-wrap">
                        <a class="link2" href="#">Producto 3</a>
                        <p class="p11">Descripción del producto 3</p>
                        <span class="text5">$12.00</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <a class="button1 p28 p28" href="@Url.Action("Productos","Productos") ">Ver más</a>
            </article>
            <div class="clear"></div>
        </div>
    </div>
</section>
