
@{
    ViewBag.Title = "ModificarMetodoPago";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Modificar Método de Pago</h2>
    <form id="modificarMetodoPagoForm">
        <div class="form-group">
            <label for="metodoPagoNombre">Nombre del Método de Pago:</label>
            <input type="text" class="form-control" id="metodoPagoNombre" name="metodoPagoNombre" value="Tarjeta" required>
        </div>
        <br />
        <div class="modal-footer">
            <a class="btn btn-secondary btn-sm" href="@Url.Action("HojaDeConfiguracion", "Parametros")">Cancelar</a>
            <a class="btn btn-primary btn-sm" href="@Url.Action("HojaDeConfiguracion", "Parametros")">Guardar Cambios</a>
        </div>
    </form>
</div>
<br />
<br />
<br />

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
