
@{
    ViewBag.Title = "GestiondeRRHH";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de RRHH</h2>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Gestión de Turnos</h2>
        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#crearTurnoModal">Crear Turno</button>
    </div>
    <div class="table-responsive mb-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID del Turno</th>
                    <th>Nombre</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Final</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mañana</td>
                    <td>08:00</td>
                    <td>16:00</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="eliminarRol(2)">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Tarde</td>
                    <td>16:00</td>
                    <td>00:00</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="eliminarRol(2)">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Noche</td>
                    <td>00:00</td>
                    <td>08:00</td>
                    <td>
                        <button class="btn btn-danger btn-sm" onclick="eliminarRol(2)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive mb-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Gestión de Turnos</h2>
            <button class="btn btn-outline-dark" data-toggle="modal" data-target="#asignarTurnoModal">Asignar Turno</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Disponibilidad</th>
                    <th>Turno</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Sanchez</td>
                    <td>Asignado</td>
                    <td>Mañana</td>
                    <td>
                        <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarTurnoModal">Editar Turno</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



    <!-- Tabla de Nómina -->
    <div class="mb-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Gestión de Nómina</h2>
            <div class="input-group w-50">
                <input type="text" class="form-control" id="filtrarUsuarios" placeholder="Filtrar usuarios">
                <div class="input-group-append" style="margin-left: 5px;">
                    <button class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#crearTurnoModal">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive mb-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Empleado</th>
                    <th>Rol</th>
                    <th>Salario</th>
                    <th>Turnos Trabajados (Horas)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Sanchez</td>
                    <td>Empleado</td>
                    <td>$2000</td>
                    <td>160</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Tabla de Evaluación -->
    <div class="table-responsive mb-5">
        <h2>Evaluación Empleados</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Horas Trabajadas</th>
                    <th>Comentario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pedro Sanchez</td>
                    <td>Empleado</td>
                    <td>160</td>
                    <td>Buen desempeño</td>
                    <td>
                        <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#evaluarEmpleadoModal">Evaluar</button>
                    </td>
                </tr>
                <!-- Agregar más filas según sea necesario -->
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Crear Turno -->
<div class="modal fade" id="crearTurnoModal" tabindex="-1" role="dialog" aria-labelledby="crearTurnoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearTurnoModalLabel">Crear Turno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="nombreTurno">Nombre:</label>
                        <input type="text" class="form-control" id="nombreTurno" name="nombreTurno" required>
                    </div>
                    <div class="form-group">
                        <label for="horaInicio">Hora de Inicio:</label>
                        <input type="time" class="form-control" id="horaInicio" name="horaInicio" required>
                    </div>
                    <div class="form-group">
                        <label for="horaFinal">Hora de Final:</label>
                        <input type="time" class="form-control" id="horaFinal" name="horaFinal" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Crear Turno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Asignar Turno -->
<div class="modal fade" id="asignarTurnoModal" tabindex="-1" role="dialog" aria-labelledby="asignarTurnoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="asignarTurnoModalLabel">Asignar Turno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="empleado">Empleado:</label>
                        <input type="text" class="form-control" id="empleado" name="empleado" value="Juan Pérez" disabled>
                    </div>
                    <div class="form-group">
                        <label for="turno">Turno:</label>
                        <select class="form-control" id="turno" name="turno" required>
                            <option value="Mañana">Mañana</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Noche">Noche</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Asignar Turno</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

