
@{
    ViewBag.Title = "HistorialCliente";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Historial de Cliente: Juan Pérez</h2>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha de Reserva</th>
                    <th>Habitación</th>
                    <th>Duración de la Estancia</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-01-15</td>
                    <td>101</td>
                    <td>3 noches</td>
                    <td>Completada</td>
                </tr>
                <tr>
                    <td>2024-02-20</td>
                    <td>202</td>
                    <td>2 noches</td>
                    <td>Completada</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
