/**/
@import "../css/reseteo.css";
@import "../css/esqueleto.css";
@import "../css/superf.css";
@import url(//fonts.googleapis.com/css?family=Courgette);
@import url(//fonts.googleapis.com/css?family=Lora:700);
body{
	background: #fff;
	font:12px/22px Arial, Helvetica, sans-serif;
	color:#937c7c;
	position:relative;
	min-width:980px;
}

 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}



/* LightBox */
.lightbox-image {position:relative;overflow:hidden;display:inline-block;z-index:99;}
.lightbox-image img {position:relative;z-index:2;background:#f1f1f1; }
.lightbox-image span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;}
html,body{height:100%;}
p{padding-bottom:22px;}
a{color:#f44c31;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:32px;color:#663e3e;font-family: 'Lora', cursive; margin-bottom:19px;text-transform:uppercase; letter-spacing:-2px;}
h1{font-size:32px;}
h2{font-size:30px;}
h3{font-size:28px;} 
h4{font-size:26px;}  
h5{font-size:24px;}
h6{font-size:22px;}
/* Global Structure---------------------------------------- */
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.color1{color:#ff2100;}

.main {
	padding:0;
	margin:0 auto;
}

.last1 {
	margin-bottom:0 !important;
}

.last2 {
	padding-bottom:0 !important;
}

.wrapper {width:100%; overflow:hidden;}
 
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.reg {text-transform:uppercase;}

.title {margin-bottom:18px;}

.it {font-style:italic;}

.letter {letter-spacing:-1px;}

/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.logo {
	display:block; 
	width:495px; 
	height:56px; 
}

/*********************************header*************************************/
header {
	width:100%;
	position:relative; 
	z-index:2;
}

#search1 input {
    border: none;
    color: #646464;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0;
    outline: medium none;
	background:#fff;
    padding: 7px 30px 8px 13px;
    width: 267px;
}

#search1 {
    padding-top: 42px;
	float:right;
	margin-right:5px;
    position: relative;
}

.search-button {
	position:absolute;
	right: 9px;
    top: 49px;
	background:url(../imagenes/search-marker.png) no-repeat 0 0;
	width:16px;
	height:16px;
	display:block;
}

.search-button:hover {
	background-position:0 -27px;
}

.head-box1 {
	background-color: #101820;
	width: 100%;
	padding-bottom: 0px;
}

header h1 {
	padding:22px 0 0 5px;
	margin:0;
	font-size:0;
	float:left;
	line-height:0;
}

header h1 a {
	width: 495px;
	height: 56px;
	display: block;
}

.head-box2 {
	position: relative;
	width: 100%;
	padding-bottom: 6px;
	background-color: #b2b4b2;
}

nav {
	width:950px;
	margin:0 auto;
}
	

/********************** Content ************************/

#content {
	width:100%; 
	padding:54px 0 26px;
	position:relative;
	margin-top: -6px;
	z-index:1;
	background:url(../imagenes/content-bg.gif) repeat-x 0 -73px #fff;
	
}

.p6 {
	margin-top:-6px;
	padding:0 0 42px !important;
	background:url(../imagenes/content-bg.gif) repeat-x 0 468px #fff !important;
}

.p7 {
	margin-top:-119px;
}

																									/***** Page 1 *****/


.text1 {
    color: #663E3E;
    display: block;
    font-family: 'Lora',cursive;
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 44px;
	font-weight:bold;
    margin-bottom: 0;
    text-transform: uppercase;
}

.text2 {
    color: #F44C31;
    display: block;
    font-family: 'Courgette',cursive;
    font-size: 35px;
    line-height: 42px;
    margin-top: -10px;
}

.page1-box1 {
	position:relative;
	text-align:center;
	z-index:999;
	padding-bottom:6px;
	background:url(../imagenes/bg1.gif) repeat-x 0 bottom #fff;
}


.page1-box1:before {
	content:'  ';
	background:url(../imagenes/bot-top.png)  no-repeat center 0 ;
	display:block;
	position:absolute;
	width:100%;
	height:18px;
	top:-18px;
	left:0;
}

.page1-img1 {
	margin-bottom:18px;
}

.page1-box1:after {
	content:'  ';
	background:url(../imagenes/bot-bottom.png) no-repeat center 0 ;
	display:block;
	position:absolute;
	width:100%;
	height:16px;
	bottom:-16px;
	left:0;
}

.page1-box1 i {
	position:absolute;
	display:block;
	width:310px;
	height:45px;
	z-index:-1;
	left:0;
	bottom:-45px;
	background:url(../imagenes/shadow2.png) no-repeat 0 0;
}


.inner1 {
    position: relative;
	padding:21px 0 40px;
}

.inner1 strong {
    background: url("../imagenes/shadow.png") no-repeat scroll 0 0 transparent;
    bottom: -23px;
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    width: 310px;
	z-index:-1;
}


.inner2 p {
    padding: 0 25px 20px;
}

.button1:after {
    background: url("../imagenes/button-r.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    height: 43px;
    position: absolute;
    right: -8px;
    top: 0;
    width: 8px;
}
.button1:before {
    background: url("../imagenes/button-l.png") no-repeat scroll 0 0 transparent;
    content: " ";
    display: block;
    height: 43px;
    left: -7px;
    position: absolute;
    top: 0;
    width: 7px;
}
.button1 {
    background: url("../imagenes/button-m.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Lora',cursive;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    min-width: 74px;
    padding: 9px 12px 13px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.p28 {
	margin-left: 6px;
}

.button1:hover {
	background-position:0 -55px;
	text-decoration:none;
}

.button1:hover:after,
.button1:hover:before
 {
	background-position:0 -55px;
}


.text3 {
    color: #F44C31;
    display: block;
    font-family: 'Courgette',cursive;
    font-size: 65px;
    letter-spacing: -3px;
    line-height: 78px;
    margin-bottom: 9px;
}
.text4 {
	display:block;
	font-family: 'Lora', cursive;
	font-size:23px;
	color:#663e3e;
	margin-bottom:24px;
	line-height:25px;
}

.p8 {
	padding-top:57px;
}

.text5 {
	display:block;
	letter-spacing:-1px;
	font-weight:bold;
	color:#f44c31;
	font-size:23px;
	line-height:28px;
	font-family: 'Lora', cursive;
	margin-bottom:8px;
}

.p9 {
	padding-bottom:49px;
}

.page1-box2 {
	background:#fff !important;
	height:190px !important;
	overflow: hidden;
}

#next_slide{
	display:block;
	width:37px;
	cursor:pointer;
	box-shadow: 0px 1px 2px 1px #dbd5d5;
	height:38px;
	float:left;
	margin-top:4px;
	background:url(../imagenes/next1.gif) no-repeat 0 0;
}

#prev_slide {
	display:block;
	width:37px;
	margin-top:4px;
	float:left;
	margin-right:1px;
	box-shadow: 0px 1px 2px 1px #dbd5d5;
	height:38px;
	cursor:pointer;
	background:url(../imagenes/prev1.gif) no-repeat 0 0;
}

#prev_slide:hover,
#next_slide:hover {
	background-position:0 bottom;
}
	
.link1 {
	color:#f44c31;
	font-weight:bold;
	transition: all 0.4s ease 0s;
}

.link1:hover {
	color:#ffaf31;
	text-decoration:none;
}

.time1 {
	display:block;
	color:#d4c9c9;
	font-style:italic;
}

.last3 {background:none !important;}


.page1-box3 {
    background: url("../imagenes/divider2.png") repeat-x scroll 0 bottom transparent;
    margin-bottom: 16px;
    overflow: hidden;
    padding-bottom: 19px;
}

.page1-img2 {
	float:left;
	margin-right:14px;
	margin-top:2px;
}

.img-bot {
	padding:5px;
	background:#f5f1ef;
	display:inline-block;
}

.link2 {
	color:#ffaf31;
	font-family: 'Courgette', cursive;
	font-size:20px;
	line-height:22px;
	transition: all 0.4s ease 0s;
}

.link2:hover {
	color:#f44c31;
	text-decoration:none;
}

.p10 {padding-top:16px; margin-bottom:33px;}

.p11 {
	padding-top:4px;
	padding-bottom:14px;
}

.page1-box4 {
	overflow:hidden;
	margin-bottom:18px;
}

.p12 {
	margin-bottom:19px;
}

.border1 {
	position:relative;
}

.border1:before {
    background: none repeat scroll 0 0 #EDEAE7;
    content: " ";
    height: 90%;
    left: 29px;
    position: absolute;
    top: 7px;
    width: 1px;
}

.carousel1 {
	cursor: default !important;
}

.carousel1 li {
	float: left;
}

.border2 {

	position:relative;
}

.border2:before {
    background: none repeat scroll 0 0 #EDEAE7;
    content: " ";
    height: 97%;
    left: 29px;
    position: absolute;
    top: 22px;
    width: 1px;
}
																									/***** Page 2 *****/

.page2-box1 {
	overflow:hidden;
	margin-bottom:1px;
}



.page2-img1 {
    float: left;
    margin-right: 4px;
    padding-top: 4px;
}


.page2-img2 {
    float: right;
    margin-top: -4px;
}


.p13 {
	margin-bottom:32px;
}

.p14 {
	padding-top:14px;
	padding-bottom:18px;
}

.list1 a {
	color:#663e3e;
	transition: all 0.4s ease 0s;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
}

.list1 a:hover {
	color:#f44c31;
	text-decoration:none;
}

.list1 li {
    background: url("../imagenes/marker1.png") no-repeat scroll 0 1px transparent;
    display: block;
    line-height: 14px;
    padding-bottom: 16px;
    padding-left: 17px;
}

.page2-box2 {
	margin-bottom:35px;
}

.page2-box3 {
	overflow:hidden;
	margin-bottom:48px;
}

.p15 {
	margin-bottom:29px;
}

.list1 {padding-top:2px;}

.p16 {
	padding-bottom:13px;
}

.various {
	position: relative;
}

.various img {
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

.various:hover img {
	opacity: 0.5;
}


.page2-box4 .various span {
    background: url("../imagenes/marker2.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}

.p17 {
	margin-bottom:36px;
}

.page2-box4 {
	margin-bottom:23px;
}


.p18 {
    padding-bottom: 23px;
    padding-top: 4px;
}
																									/***** Page 3 *****/

.p19 {
	margin-bottom:13px;
}

.page3-img1 {
	margin-bottom:21px;
}

.page4-box1 {
	margin-bottom:25px;
	overflow:hidden;
}

.page4-img1 {
    float: left;
    margin-right: 14px;
    margin-top: 2px;
}

																									/***** Page 4 *****/

.p20 {margin-bottom:34px;}

.p21 {
    padding-bottom: 18px;
    padding-top: 6px;
}

.banner1 {
	margin-bottom:12px;
}

.p22 {margin-bottom:29px;}

.border3:before {
    background: none repeat scroll 0 0 #EDEAE7;
    content: " ";
    height: 97%;
    left: 29px;
    position: absolute;
    top: 22px;
    width: 1px;
}

.border3 {position:relative;}

																									/***** Page 5 *****/

.text7 {
	display:block;
	margin-bottom:20px;
	font-weight:bold;
	color:#663e3e;
}


.page5-img1 {
    float: left;
    margin-right: 12px;
    margin-top: 5px;
}

.p23 {
	margin-bottom:31px;
}

.p24 {
    padding-bottom: 3px;
    padding-top: 0;
}

.link3 {
	color:#663e3e;
	font-weight:bold;
	text-transform:uppercase;	
	font-size:11px;
}

.p25 {margin-bottom: 16px;
    padding-top: 21px;
}

.page5-img2 {
    float: left;
    margin-right: 9px;
    padding-top: 15px;
}

figure {
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 max-width: 100%;
}

figure img {
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.p26 {
	padding-bottom:18px;}
	
.page6-img1 {
	margin-bottom:26px;
}
	
.dl1 {
	padding-top:2px;
}

.text8 {
	font-weight:bold;
	color:#663e3e;
	display:block;
}

.dl1 dt {margin-bottom: 22px;font-weight:bold;
	color:#663e3e;}

.dl1 span {float:left; width:68px;}

.dl1 dd { line-height:22px;}

.dl1 dd a {color:#ffaf31; font-weight:bold; display:inline-block; margin-left:9px;}

.dl1 dd a:hover {color:#f44c31; text-decoration:none;}
	
	.link4 {color:#ffaf31; font-weight:bold; transition: all 0.4s ease 0s;}

.link4:hover {color:#f44c31; text-decoration:none;}
/******************** Footer ******************/
footer {
	display: block;	
}

footer>div>div {
	padding:41px 0 30px;
	border-top:1px solid #edeae7;
}

.foot-page2 {
    color: #937C7C;
    float: left;
    font-size: 12px;
    line-height: 27px;
}

.foot-page2 a {
    color: #937C7C;
}

.foot-page2 a:hover {
    color: #f44c31;
	text-decoration:none;
}

.soc-links a {
	display:block;
	width:36px;
	height:36px;
}

.soc-links a:hover {
	background-position:0 -49px;
}

.soc-links li {
	display:block;
	float:left;
	margin-right:4px;
}

.soc-links {
	padding-top:14px;
	padding-bottom:5px;
	overflow:hidden;
}

.soc-link1 {background:url(../imagenes/soc-link1.png) no-repeat 0 0 ;
}
.soc-link2 {background:url(../imagenes/soc-link2.png) no-repeat 0 0 ;
}
.soc-link3 {background:url(../imagenes/soc-link3.png) no-repeat 0 0 ;
}

.foot-menu {
	float:right;
	padding-top:2px;
}

.foot-menu a {
	color: #101820;
	font-size: 12px;
	transition: all 0.4s ease 0s;
}

.foot-menu a:hover,
.foot-menu a.active {
		color: #b2b4b2;
		text-decoration: none;
}


.foot-menu li {
    background: url("../imagenes/divider3.gif") no-repeat scroll 0 7px transparent;
    display: block;
    float: left;
    margin-left: 17px;
    padding-left: 15px;
}

.text6 {
    color: #F44C31;
    display: inline-block;
    font-family: 'Courgette',cursive;
    font-size: 20px;
    line-height: 22px;
    padding-right: 3px;
    word-spacing: -2px;
}


#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:180px;
	left: 50%;
	margin-left: 550px;
	overflow:hidden;
	width:53px;
	height: 53px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background:url(../imagenes/ui.totop.png) no-repeat left top;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
#toTop:hover {
	outline:none;
	background-position: 0 bottom;
}

.f_rr {
	float: right !important;  
}
@media only screen and (max-width: 1024px) {


.camera_prev, .camera_next {
	top: 200px;


}

.camera_prev {
	left: 380px !important;
}

.camera_next {
	right: 380px !important;
}
}
/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}

#search1 input {
	width: 200px;
}
.camera_prev {
	left: 350px !important;
}

.camera_next {
	right: 350px !important;
}


.border2:before, .border1:before, .border3:before {
	background: none;
}

.extra-wrap {
	overflow: visible;
}
.map address  {
	float: left;
	margin-right: 50px;
}

.page1-box1:before, .page1-box1:after {
	display: none;
}

.inner1 strong {
	display: none;
}

.page1-box1  {
	margin-bottom: 50px;
}

.page1-box1 i {
	display: none;
}

.map p {
	padding-top: 20px;
}

 .map figure, .map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;
 float: none;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}

.extra_wrapper {
	overflow: visible ;
}



.figure-1, img {
	max-width: 100%;
}



.link-bot {
	width: 25%;
}

.p6 {
	background-position: right 0;
	padding-bottom: 43px;
}

.slider_wrapper>div {

	left: 50% !important;
	margin-left: -384px !important;
	width: 768px !important;
	height: 300px;
	overflow: hidden;
}


.camera_prev, .camera_next {
	top: 200px;


}

figure iframe {
	width: 100%;
}


.slider_wrapper  {
	height: 437px !important;
}

#form .btns {
	padding-right: 7px !important;
}

.btns .button1 {
	font-size: 12px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}
}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}

.maxheight1 .page1-img2 {
    float: left !important;
    margin-right: 14px !important;
    margin-top: 2px;
    width: auto !important;
}

.page5-img2 {
	width: auto !important;
}

.slider_wrapper  {
	background-color: #fff !important;
}

.icons .button2 {
	margin-bottom: 25px;
}

	.page2-img1, .page3-img2 {
		float:  none;
		margin-right: 0 ;
		margin-bottom: 20px;
		display: block;
	}


.p14 {
	margin-bottom: 0;
}

figure  img {
	width: 100%;
}

.page2-img3 {
	display: block ;
}

.page2-img3 img, .page3-img2 img {
	width: 100%;
}


.p6  {
	background: none;
}


.page1-box2 {
	margin-right: 0;
	margin-bottom: 20px;
	float: none;
	width: auto;
	}

h2 {
	padding-top: 30px;
}

.page1-img2 {
	float: none;
	display: block;margin-right: 0 !important;
}

.page1-img2 img {
	width: 100%;
	margin-right: 0;
}

.page1-img2.last1 {
	margin-bottom: 18px !important;
}

.link-bot {
	width: 100%;
	float: none;
}

.link-bot img {
	width: 100%;

}


.map address  {
	float: none;
	margin-right: 0px;
}


header {
	background-position: center 100px;
	position: relative;
}
header h1 {
	float: none;
	top: 0;
	padding-left: 0;
	padding-bottom: 0;
}

header h1 .logo {
	margin: 0 auto;
	height: auto;
	width: 80%;
}

header h1 a img {
}

.map figure iframe {
	width: 100%;
	height: 300px;
}

#search1 {
	margin-right: 0;
	float: none;
}

#search1 input {
	width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.map address {
	float: none;
	margin-right: 0;
}

.content .noresize {
	width: auto !important;
	float: left !important;
	margin-right: 20px !important;
}


.pad_none {
	padding-bottom: 0 !important;
}
.foot-menu {
	float: left;
	padding-bottom: 20px;
}
.foot-menu li {
	margin-left: 10px;
	padding-left: 10px;
}

.foot-menu li.last3 {
	margin-left: 0;
}

figure {
	width: 100%;
}

a.various  {
	display: block;
}

a.various img {
	width: 100%;
}

.wrapper.p19 {
	margin-bottom: 0;
}

.prod .text5 {
	margin-bottom: 30px;
}


}

 @media only screen and (max-width: 479px) {


.foot-menu li {
	margin-left: 10px;
	padding-left: 0px;
	background: none;
}

.foot-menu li  a {
	font-size: 11px !important;

}


footer .fright {
	float: left;
	padding-top: 10px;
}
body {
min-width:300px;
}

}
.btn-custom {
	background-color: #F44C31;
	border-color: #F44C31;
	color: white;
}


.ui-w-40 {
	width: 80px !important;
	height: auto;
}

.card {
	box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}

.ui-product-color {
	display: inline-block;
	overflow: hidden;
	margin: .144em;
	width: .875rem;
	height: .875rem;
	border-radius: 10rem;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
	vertical-align: middle;
}

.logo-img {
	width: 300px;
	height: auto;
}

.logo-container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}




